body {
    font-family: 'Roboto', sans-serif;
    margin: 6rem;
}

article {
    margin-top: 2.5rem;
}

h1 {
    font-size: 1.3rem;
}

h2 {
    font-size: 1.1rem;
}

ul {
    margin-left: 1.0rem;
}

p, ul {
    margin-top: 1rem;
    /* text-align: justify; */
    line-height: 1.5rem;
    font-size: 1rem;
}